<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>
			<!-- DYNAMIC PAGE NAME GOES HERE -->
            PAGE NAME HERE
		</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <div class="header" id="header">
            <img src="../static/logov1.png">
            <input type="text" placeholder="Search..">
        </div>
        <div class="row" id="page">
            <div class="col-3 menu" id="sideNav">
				<!-- DYNAMIC CREATION OF NAVIGATION BASED ON STRUCTURE OF SITE-->
                <!-- Below is a filler navbar-->
				<ul>
					<li><a href="../critter/login.html" class="active">Login</a></li>
					<li><a href="../critter/profile.html" class="active">Profile</a></li>
					<li><a href="../critter/timeline.html" class="active">Timeline</a></li>
				</ul>
            </div>
            <div class="col-9" id="loginContents">
                <!-- DYNAMIC INTEGRATION FOR OTHER PAGES-->
                <!-- This is the timeline-->
                <div class="login">
                	<form action="PUT LOGIN PAGE REDIRECT HERE" method="post">
						<div class="credentials">
							<label for="uname"><b>Username</b></label>
    						<input type="text" placeholder="Enter Username" name="uname" required>

    						<label for="psw"><b>Password</b></label>
    						<input type="password" placeholder="Enter Password" name="psw" required>
        
    						<button type="submit">Login</button>
    						<label>
      							<input type="checkbox" checked="checked" name="remember"> Remember me
    						</label>
							<span class="psw">Forgot <a href="#">password?</a></span>
						</div>
					</form>
                </div>
            </div>
        </div>
    </body>
</html>