{% extends 'template.html' %}
{% block content%}
<div class="login col-4">
    <a href="{{ url_for('timeline') }}"><img src="{{ url_for('static', filename="logov1.png") }}"></a>
    <form action="{{ url_for('login') }}" method="POST">
		<div class="credentials">
			<label for="email"><b>Email</b></label>
    		<input type="text" placeholder="Enter Email" name="email" required>

    		<label for="password"><b>Password</b></label>
    		<input type="password" placeholder="Enter Password" name="password" required>

            <span class="psw">Forgot <a href="#">password</a>?</span>
    		<button type="submit">Login</button>

			<input type="checkbox" name="remember" value="true">
			<label for="remember">Remember me</label>
			<input type="hidden" name="remember" value="false">

            {% if login_failed %}
            <p id="login_error">Either the password you entered was incorrect or no user with the provided email exists.</p>
            {% endif %}
		</div>
	</form>
</div>
{% endblock %}