{% extends 'template.html' %}
{% block content%}
<div class="login">
    <div class="login-logo">
        <a href="{{ url_for('timeline') }}">
            <i id="home-button" class='eos-icons-outlined'>pest_control_rodent</i>
        </a>
    </div>
    <form action="{{ url_for('login') }}" method="POST">
		<div class="credentials">
			<label for="email"><b>Email</b></label>
    		<input type="text" placeholder="Enter Email" name="email" required>

    		<label for="password"><b>Password</b></label>
    		<input type="password" placeholder="Enter Password" name="password" required>

            <span class="psw">Forgot <a href="#">password</a>?</span>
    		<button type="submit">Login</button>

    		<div class="remember-me">
				<input type="checkbox" name="remember" id="remember" value="true">
				<label for="remember" onclick="(function() { document.getElementById('remember').checked = (document.getElementById('remember').checked) ? true : false; })();">Remember me</label>
				<input type="hidden" name="remember" value="false">
			</div>

            {% if login_failed %}
            <p id="login_error">Either the password you entered was incorrect or no user with the provided email exists.</p>
            {% endif %}
		</div>
	</form>
	
	<p>Don't have an account? <a href="{{ url_for('sign_up') }}">Sign up</a>!</p>
	
</div>
{% endblock %}
