{% macro gen_post(userinfo, post) %}
<div id="post_{{ post.PostID }}" class="post">
    <div class="userinfo">
        <img class="profilecircle" src="
            {% if userinfo.profile_URI is defined %}
                {{ url_for('static', filename=userinfo.profile_URI) }}
            {% else %}
                {{ url_for('static', filename="CritterDefault.png") }} 
            {% endif %}
        ">
        <p id="username">{{ userinfo.username }}</p>
    </div>
    <div class="postcontent">
        <p class="posttext">{{ post.Text }}</p>
    </div>
    <div class="actions">
        <div class="like-button action-button" onclick="addLike({{ post.PostID }})">
            <!-- TODO: Make like button clickable. -->
            <p class="num_likes">{% if post.likes is defined %} {{ post.likes|length }} {% else %} 0 {% endif %}</p>
            <span class="material-icons like_icon">favorite{% if current_user.UserID not in post.likes|map(attribute="UserID") or post.likes is not defined %}_border{% endif %}</span>
        </div>
        <div class="comment-button action-button">
            <!-- TODO: ALLOW A USER TO COMMENT VIA A POPUP BOX (CSS)-->
            <p id="num_comments">{% if posts.comments is defined %} {{ post.comments|length }} {% else %} 0 {% endif %}</p>
            <span class="material-icons">chat_bubble_outline</span>
        </div>
    </div>
</div>
{% endmacro %}

{% macro display_posts(posts) %}

    {% for u,p in posts %}
        {% call gen_post(u, p) %}{% endcall %}
    {% endfor %}

{% endmacro %}