{% macro gen_post(userinfo, post) %}
    {% if userinfo[post.UserID]["avatar"] is not none %}
        {% set profilePic = url_for('static', filename=userinfo[post.UserID]["avatar"]) %}
    {% else %}
        {% set profilePic = url_for('static', filename='assets/media/images/default.jpg') %}
    {% endif %}
<div id="post_{{ post.PostID }}" class="center-col-item talk-box">
    <div class="talk-box-left">
        <div class="profile-photo-container">
            <img class="profile-photo" src="{{ profilePic }}">
        </div>
    </div>
    <div class="talk-box-right">
        <div class="username-container">
            <p class="username">{{ userinfo[post.UserID]["username"] }}</p>
        </div>
        <div class="post-content-container">
            <p class="text-content">{{ post.Text }}</p>
        </div>
        <div class="engage-container">
            <i id="comment-button" class="eos-icons-outlined">chat_bubble</i>
            <i id="resqueak-button" class="eos-icons-outlined">cached</i>
            <i id="like-button" class="eos-icons-outlined">thumb_up</i>
            <i id="dislike-button" class="eos-icons-outlined">thumb_down</i>
        </div>
    </div>
</div>
{% endmacro %}

{% macro display_posts(posts) %}
{% for u,p in posts %}{% call gen_post(u, p) %}{% endcall %}{% endfor %}
{% endmacro %}
