{% extends 'template.html' %}
{% block content%}
        <div class="row" id="page">
            {% include 'navbar.html' %}
            <div class="col-6" id="page">
                <div class="profile">
                    {% if profile.Avatar is not none %}
                        {% set profilePic = url_for('static', filename=profile.Avatar) %}
                    {% else %}
                        {% set profilePic = url_for('static', filename='CritterDefault.png') %}
                    {% endif %}
					<img class="profilecircle" src="{{ profilePic }}">
                    <div class="profileinfo">
                        <p class="username">{{ profile.Username }}</p>
						<p class="profiletext">Working primarily on the database as well as database side python functions, Austin has worked hard on the back end development for our website. Austin's extensive efforts to get a solid foundation for our project have allowed us to move forward with an otherwise very difficult project.</p>
                    </div>
                </div>
				
			<div class="col-3 right">
				<div class="profilePanel">
					
				</div>
			</div>
        </div>
{% endblock %}