{% extends 'template.html' %}
{% block content%}
<div class="login col-4">
    <div class="login-logo">
        <a href="{{ url_for('timeline') }}">
            <i id="home-button" class='eos-icons-outlined'>pest_control_rodent</i>
        </a>
    </div>
    <form action="{{ url_for('sign_up') }}" method="POST">
		<div class="credentials">
			<label for="username"><b>Username</b></label>
    		<input type="text" placeholder="Enter Username" name="username" required>

			<label for="gender"><b>Gender</b></label>
    		<input list="select" name="gender">
			<datalist class="form-control" id="select">    
  				<option value="Male">
  				<option value="Female">
			</datalist>

			<label for="email"><b>Email</b></label>
    		<input type="text" placeholder="Enter Email" name="email" required>

    		<label for="password"><b>Password</b></label>
    		<input type="password" placeholder="Enter Password" name="password" required>

			<label for="conf-password"><b>Password</b></label>
    		<input type="password" placeholder="Enter Password Again..." name="conf-password" required>
    		
    		<button type="submit">Sign Up</button>
		</div>
	</form>
	
	<p>Already have an account? <a href="{{ url_for('login') }}">Log in</a>!</p>
	
</div>
{% endblock %}
