<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>
			<!-- DYNAMIC PAGE NAME GOES HERE -->
            PAGE NAME HERE
		</title>
        <link rel="stylesheet" href="../styles/styles.css">
    </head>
    <body>
        <div class="header" id="header">
            <img src="../static/logov1.png">
        </div>
		<div class="sidenav" id="sidenav">
            <!-- DYNAMIC CREATION OF NAVIGATION BASED ON STRUCTURE OF SITE-->
            <!-- Below is a filler navbar-->
            <a href="../critter/login.html" class="active">Login</a>
            <a href="../critter/profile.html" class="active">Profile</a>
            <a href="../critter/timeline.html" class="active">Timeline</a>
        </div>
        <div class="bodycontent">
            <!-- DYNAMIC INTEGRATION FOR OTHER PAGES-->
            <!-- This is the timeline-->
            <div class="post">
                <div class="userinfo">
                    <!-- NEEDS TO PULL USERS PROFILE, LOGO IS PLACEHOLDER-->
                    <img src="../static/logov1.png">
                    <p>Critter Official</p>
                </div>
                <div class="postcontent">
                    <p class="posttext">We're making a social media app that focuses on security!</p>
                </div>
            </div>
            <div class="post">
                <div class="userinfo">
                    <!-- NEEDS TO PULL USERS PROFILE, LOGO IS PLACEHOLDER-->
                    <img src="../static/logov1.png">
                    <p>Critter Official</p>
                </div>
                <div class="postcontent">
                    <!-- Lorem Ipsum 300 Character to test bounding-->
                    <p class="posttext">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec.</p>
                </div>
            </div>
        </div>
    </body>
</html>