<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title> {{ page_title | default("Critter") }} </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="style.css") }}">
    </head>
    <body>
        <div class="header" id="header">
            <img src="{{ url_for('static', filename="logov1.png") }}">
            <input type="text" placeholder="Search...">
        </div>
        <div class="row" id="page">
            <div class="col-3 menu" id="sideNav">
				<!-- DYNAMIC CREATION OF NAVIGATION BASED ON STRUCTURE OF SITE-->
                {% block navbar %}{% endblock %}
                <!-- Below is a filler navbar-->
				<ul>
					<li>
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout') }}" class="active">Logout</a>
                        {% else %}
                        <a href="{{ url_for('login') }}" class="active">Login</a>
                        {% endif %}
                    </li>
					<li><a href="{{ url_for('profile') }}" class="active">Profile</a></li>
					<li><a href="{{ url_for('timeline') }}" class="active">Timeline</a></li>
				</ul>
            </div>
            <!-- THIS IS WHERE THE REST OF THIS PAGE WOULD GO -->
            {% block content %}{% endblock %}
            </div>
			<div class="col-3 right">
				<div class="profilePanel">
                    {% block profile_info %}{% endblock %}
				</div>
			</div>
        </div>
    </body>
</html>