<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>
			<!-- DYNAMIC PAGE NAME GOES HERE -->
            PAGE NAME HERE
		</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <div class="header" id="header">
            <img src="../static/logov1.png">
            <input type="text" placeholder="Search..">
        </div>
        <div class="row" id="page">
            <div class="col-3 menu" id="sideNav">
				<!-- DYNAMIC CREATION OF NAVIGATION BASED ON STRUCTURE OF SITE-->
                <!-- Below is a filler navbar-->
				<ul>
					<li><a href="../critter/login.html" class="active">Login</a></li>
					<li><a href="../critter/profile.html" class="active">Profile</a></li>
					<li><a href="../critter/timeline.html" class="active">Timeline</a></li>
				</ul>
            </div>
            <!-- THIS IS WHERE THE REST OF THIS PAGE WOULD GO -->
            </div>
			<div class="col-3 right">
				<div class="profilePanel">
					
				</div>
			</div>
        </div>
    </body>
</html>