{% extends 'template.html' %}
{% from "macros.html" import gen_post, display_posts with context %}
{% block content%}

<div class="left-col">
    {% include 'navbar.html' %}
</div>

<div class="center-col">

    <form action="{{ url_for('timeline') }}" method="POST">
        <div class="center-col-item post-box">
            <textarea id="text" name="text" maxlength="240" spellcheck="true" placeholder="How are you feeling..."></textarea>
            <button type="submit">Post</button>
        </div>
    </form>
        
    <div class="talk-box-area">
        {% for p in posts %}
            {{ gen_post(userinfo, p) }}
        {% endfor %}
    </div>
        
</div>

<div class="right-col">
</div>
{% endblock %}
