:root {
    --black:rgba(0,0,0,1);
    --purple:rgba(20, 33, 61,1);
    --orange:rgba(252, 163, 17,1);
    --gray:rgba(229, 229, 229,1);
    --white:rgba(255,255,255,1);
}

body {
    display:flex;
    flex-direction:row;
    margin: 0;
    padding:0;
    height: 100%;
    background: linear-gradient(45deg, var(--black), var(--purple));
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-position: left top;
    letter-spacing: 0.1em;
    justify-content:center;
    overflow:hidden;
}

a {
    text-decoration: none;
    color:inherit;
}

.eos-icons-outlined {
/* Sizes can be 18, 24, 36, 48 */
    font-size: 36px!important;
}

.active-page {
    font-weight:bold;
}

.left-col {
    display:flex;
    flex-direction:column;
    height:100%;
    margin-left:auto;
    margin-right:0;
}

.center-col {
    display:flex;
    flex-direction:column;
    width:720px;
    height:100vh;
    margin-left:0;
    margin-right:0;
    border: 1px solid var(--gray);
    border-top:none;
    border-bottom:none;
    overflow-y:scroll;
}

.center-col-item {
    color: var(--gray);
    width:100%;
    height: fit-content;
    padding-top: 0px;
    background-color: rgba(0, 0, 0, .25);
    border-bottom:1px solid var(--gray);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    overflow-y:scroll;
}

.right-col {
    display:flex;
    flex-direction:column;
    width:auto;
    height:100%;
    margin-left:auto;
    margin-right:0;
}

.post-box {
    width:100%;
    display: flex;
    flex-direction: column;
    padding:0px;
}

.post-box textarea {
    margin:0px;
    padding:1em;
    width:auto;
    height:6em;
    border:none;
    border-bottom:inherit;
    color: inherit;
    background:inherit;
    font-size:1.5em;
    resize:none;
    outline:none;
}

.post-box button {
    margin:0px;
    padding:0px;
    width:auto;
    border-style:none;
    border-radius:0px;
    color: inherit;
    background:inherit;
    font-size:2em;
    cursor:pointer;
    transition: all 0.2s;
}

.post-box button:hover {
    background-color: var(--purple);
    letter-spacing: 0.05em;
}

.talk-box {
    display:flex;
    flex-direction:row;
    border-top:0px;
}

.talk-box-left {
    width:20%;
    height:100%;
    padding:0;
    margin:0;
}

.talk-box-left .profile-photo-container {
    display: flex;
    height:100%;
    width:100%;
    padding-top:24px;
    padding-bottom:24px;
    align-items: center;
}

.profile-photo-container .profile-photo {
    width:5em;
    max-width:50%;
    border:2px solid var(--orange);
    border-radius:50%;
    margin-left:1em;
    margin-top: auto;
    margin-bottom: auto;
}

.talk-box-right {
    display:flex;
    flex-direction:column;
    width:80%;
    height:100%;
    padding-right:1em;
    overflow-x:hidden;
    justify-content:space-between;
}

.talk-box-right .username {
    font-weight:bold;
    color:var(--orange);
}

.talk-box-right .engage-container {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.talk-box-right .engage-container .eos-icons-outlined {
    /* Sizes can be 18, 24, 36, 48 */
    font-size: 18px!important;
    color:var(--orange);
    margin:0.25em;
    padding:0.25em;
    user-select:none;
    border-radius:1em;
    transition: all 0.1s;
}

.talk-box-right .engage-container .eos-icons-outlined:hover {
    background-color:var(--orange);
    color:var(--black);
    cursor:pointer;
}

.last-talk-box {
    border-bottom:none;
}

.login {
	background-color: var(--gray);
	margin: 33%;
	margin-top: 15px;
    margin-bottom: 15px;
    padding: 3%;
    padding-top:1%;
    padding-bottom:2%;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.login .login-logo {
    color: var(--black);
    margin-left:50%;
    margin-right:50%;
}

.login .remember-me {
}

.login p {
	text-align: center;
	margin-bottom: 0em;
	padding-bottom: 0em;
}

.login img {
	width: 15em;
	display: block;
	margin: auto;
	padding-bottom: 30px;
}

.login input[type=text], input[type=password], input[list=select]{
	width: 100%;
 	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid var(--background2);
  	box-sizing: border-box;
	border-radius: 10px;
}

.login button {
  	background-color: var(--purple);
  	color: var(--gray);
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: 1px solid var(--black);
  	cursor: pointer;
  	width: 100%;
	border-radius: 10px;
	transition: all 0.1s ease-in-out;
}

.login button:hover, .login button:focus {
	background-color: var(--gray);
    color: var(--purple);
}

.login span.psw {
  	float: left;
  	padding-bottom: 16px;
	font-size: 0.75em;
}

.navbar {
    display:flex;
    flex-direction:column;
    width:100%;
    height:50vh;
    background-color:inherit;
    color:var(--gray);
    margin:0;
    margin-left:auto;
    margin-right:0.5em;
    padding:0;
    transition: all 1s;
    font-size:1.6em;
}

.navbar-item {
    display:flex;
    width:max-content;
    color:var(--gray);
    flex-direction:row;
    align-items:center;
    margin-top:0.25em;
    margin-bottom:0.25em;
    padding: 0.25em;
    padding-left:0.5em;
    padding-right:0.5em;
    justify-content:start;
    user-select:none;
    cursor:pointer;
    border-radius:1em;
    transition: all 0.1s ease-in;
}

.navbar-item:hover {
    background-color:var(--gray);
    color: var(--black);
}

.navbar-item label {
    margin-left:0.5em;
    cursor:pointer;
}

@media (orientation: portrait), (max-width:722px) {
    
    body {
        font-size: 1.25em;
    }
    
    .eos-icons-outlined {
        /* Sizes can be 18, 24, 36, 48 */
        font-size: 36px!important;
    }
    
    .center-col {
        width:100%;
        margin-left:0;
        margin-right:0;
        border-top:none;
        border-right:none;
        border-bottom:none;
    }
    
    .center-col-item {
        border-bottom:3px solid var(--black);
    }
    
    .post-box button {
        transition: all 0.1s;
    }

    .post-box button:hover {
        background-color: unset;
        color: unset;
        letter-spacing: unset;
    }
    
    .post-box button:active {
        background-color: var(--orange);
        color: var(--black);
        letter-spacing: 0.5em;
    }
    
    .navbar {
        height:100vh;
        margin-right:0;
        justify-content:space-around;
    }
    
    .navbar .navbar-item {
        padding:0.25em;
        margin:0;
        transition:all 0.1s;
    }
    
    .navbar .navbar-item:hover {
        background-color:unset;
        color:unset;
        border-radius:unset;
    }
    
    .navbar .navbar-item:active {
        background-color:var(--black);
        color:var(--black);
    }
    
    .navbar .navbar-item label {
        display:none;
    }
}

@media (max-width:499px) {
    .center-col {
        border:none;
    }
    .navbar {
        display:none;
    }
}

@media (min-width:1921px){
    .center-col {
        width:40%;
    }
}
