:root {
    --black:rgba(0,0,0,1);
    --purple:rgba(20, 33, 61,1);
    --orange:rgba(252, 163, 17,1);
    --gray:rgba(229, 229, 229,1);
    --white:rgba(255,255,255,1);
}

body {
    display:flex;
    flex-direction:row;
    margin: 0;
    padding:0;
    height: 100%;
    background: linear-gradient(45deg, var(--black), var(--purple));
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-position: left top;
    letter-spacing: 0.1em;
    justify-content:center;
    overflow:hidden;
}

a {
    text-decoration: none;
    color:inherit;
}

.eos-icons-outlined {
/* Sizes can be 18, 24, 36, 48 */
    font-size: 36px!important;
}

.active-page {
    font-weight:bold;
}

.left-col {
    display:flex;
    flex-direction:column;
    height:100%;
    margin-left:auto;
    margin-right:0;
}

.center-col {
    display:flex;
    flex-direction:column;
    width:720px;
    height:100vh;
    margin-left:0;
    margin-right:0;
    border: 1px solid var(--orange);
    border-top:none;
    border-bottom:none;
    overflow-y:scroll;
}

.center-col-item {
    color: var(--gray);
    width:100%;
    height: fit-content;
    padding-top: 0px;
    background-color: rgba(0, 0, 0, .15);
    border-bottom:1px solid var(--orange);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    overflow-y:scroll;
}

.right-col {
    display:flex;
    flex-direction:column;
    width:auto;
    height:100%;
    margin-left:auto;
    margin-right:0;
}

.post-box {
    width:100%;
    display: flex;
    flex-direction: column;
    padding:0px;
}

.post-box textarea {
    margin:0px;
    padding:1em;
    width:auto;
    height:6em;
    border:none;
    border-bottom:inherit;
    color: inherit;
    background:inherit;
    font-size:1.5em;
    resize:none;
    outline:none;
}

.post-box button {
    margin:0px;
    padding:0px;
    width:auto;
    border-style:none;
    border-radius:0px;
    color: inherit;
    background:inherit;
    font-size:2em;
    cursor:pointer;
    transition: all 1s;
}

.post-box button:hover {
    background-color: var(--orange);
    color: var(--black);
    letter-spacing: 0.5em;
}

.talk-box {
    display:flex;
    flex-direction:row;
    border-top:0px;
}

.talk-box-left {
    width:20%;
    height:100%;
    padding:0;
    margin:0;
}

.talk-box-left .profile-photo-container {
    display: flex;
    height:100%;
    width:100%;
    padding-top:24px;
    padding-bottom:24px;
    align-items: center;
}

.profile-photo-container .profile-photo {
    width:5em;
    max-width:50%;
    border:2px solid var(--orange);
    border-radius:50%;
    margin-left:1em;
    margin-top: auto;
    margin-bottom: auto;
}

.talk-box-right {
    width:80%;
    height:100%;
    padding-right:1em;
    overflow-x:hidden;
}

.talk-box-right .username {
    font-weight:bold;
    color:var(--orange);
}

.last-talk-box {
    border-bottom:none;
}

.navbar {
    display:flex;
    flex-direction:column;
    width:100%;
    height:50vh;
    background-color:inherit;
    color:var(--gray);
    margin:0;
    margin-left:auto;
    margin-right:0.5em;
    padding:0;
    transition: all 1s;
    font-size:1.6em;
}

.navbar .navbar-item {
    display:flex;
    width:max-content;
    flex-direction:row;
    align-items:center;
    margin-top:0.25em;
    margin-bottom:0.25em;
    padding: 0.25em;
    padding-left:0.5em;
    padding-right:0.5em;
    justify-content:start;
    user-select:none;
    cursor:pointer;
}

.navbar .navbar-item:hover {
    background-color:var(--orange);
    color:var(--black);
    border-radius:1em;
}

.navbar .navbar-item label {
    margin-left:0.5em;
    cursor:pointer;
}

@media (orientation: portrait), (max-width:722px) {
    
    body {
        font-size: 1.25em;
    }
    
    .eos-icons-outlined {
        /* Sizes can be 18, 24, 36, 48 */
        font-size: 36px!important;
    }
    
    .center-col {
        width:100%;
        margin-left:0;
        margin-right:0;
        border-top:none;
        border-right:none;
        border-bottom:none;
    }
    
    .center-col-item {
        border-bottom:3px solid var(--orange);
    }
    
    .post-box button {
        transition: all 0.1s;
    }

    .post-box button:hover {
        background-color: unset;
        color: unset;
        letter-spacing: unset;
    }
    
    .post-box button:active {
        background-color: var(--orange);
        color: var(--black);
        letter-spacing: 0.5em;
    }
    
    .navbar {
        height:100vh;
        margin-right:0;
        justify-content:space-around;
    }
    
    .navbar .navbar-item {
        padding:0.25em;
        margin:0;
        transition:all 0.1s;
    }
    
    .navbar .navbar-item:hover {
        background-color:unset;
        color:unset;
        border-radius:unset;
    }
    
    .navbar .navbar-item:active {
        background-color:var(--orange);
        color:var(--black);
    }
    
    .navbar .navbar-item label {
        display:none;
    }
}

@media (max-width:499px) {
    .center-col {
        border:none;
    }
    .navbar {
        display:none;
    }
}

@media (min-width:1921px){
    .center-col {
        width:40%;
    }
}
