.header {
    background-color:#FFCB47;
}

.sidenav {
    background-color:#FFCB47;
}

.bodycontent {
    background-color:#8AA1B1;
}

.bodycontent .post {
    background-color:#9AC2C9;
}

.bodycontent .post .userinfo {
    background-color:#9AC2C9;
    color:#3E4338;
}

.bodycontent .post .postcontent {
    /* NOTHING HERE FOR NOW */
}

.bodycontent .post .postcontent .posttext {
    background-color:#9AC2C9;
    color:#3E4338;
}

.bodycontent .post .postimage {
    /* NOTHING HERE FOR NOW */
}

